@use "sass:color";

$primary-blue: #3B6F7E;
$primary-green: #3F9288;
$primary-green-dark: #00202B;
$accent-orange: #EA7D40;
$accent-orange-logo: #FF3214;
$accent-orange-logo-dark: #AB1109;


$main-background: $primary-blue;
$main-text: color.adjust($primary-blue, $lightness: 55%);

$menu-color: color.adjust($primary-blue, $lightness: 55%);
$menu-active-color: color.adjust($primary-blue, $lightness: 35%);

$menu-submenu-background: color.adjust($primary-blue, $lightness: 55%);
$menu-submenu-color: $primary-blue;
$menu-submenu-active-background: $primary-blue;
$menu-submenu-active-color: color.adjust($primary-blue, $lightness: 55%);
